* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    position: relative;
  }
  
  .navbar li {
    float: left;
    position: relative;
  }
  
  .navbar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Submenu styles */
  .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    min-width: 160px;
  }
  
  .submenu li {
    float: none;
  }
  
  .submenu li a {
    padding: 12px 16px;
  }
  
  .submenu li a:hover {
    background-color: #555;
    color: #ddd;
  }
  
  /* Show submenu on hover */
  .navbar li:hover .submenu {
    display: block;
  } 
  #t1{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #bca2a2;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #71a7c4;
  }
  .m1 {
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
    color: chartreuse;
  }
  
 

  
